{% extends "base.jinja" %} 

{% block head %}
{{super()}}
<style type="text/css">{{pygments_css}}</style>
{% endblock %}
{% block content %}
<div class="py-20 px-6">
  {{content | safe}}
</div>
{% endblock %}
